.colorful {
	background:#110133;
}
* {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif !important;
  font-weight: bolder;
  color: white;
  font-size: 16px;
  text-align: center;
}
.logo {
  height: 44px;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.wrapper > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.fa {
	font-family: FontAwesome !important;
	color: inherit;
}
.auto-width {
  width: auto;
}
.wrapper {
  min-height: 485px;
  min-width: 309px;
}
.header {
  padding: 10px 10px 2.5px 10px !important;
}
.main {
  flex: 1;
  padding: 0 10px !important;
}
#title {
	font-size: 26px;
}
.row {
	margin: 7.5px 0 !important;
}
.hr {
	height: 1px;
	width: 100% !important;
	background: white;
}
.input-label {
  width: 30%;
}
.input-input {
  width: 60%;
}
.input-icon {
  width: 10%;
  font-size: 22px;
}
.input {
  background: transparent;
  width: 100%;
  padding: 10px 0 !important;
  border: 1px solid white;
	border-radius: 10px;
}
select {
	text-align-last: center;
}
option {
	color: black ;
}
.fa-check-circle {
  color: #3CB371;
}
.fa-times-circle {
  color: salmon;
}
#result-convert {
	font-size: 22px;
  text-transform: uppercase;
}
.baseref {
  display: block;
}
.tools {
  justify-content: space-around;
}
.tools > a {
  font-size: 22px;
}
#msg {
  font-weight: bold;
  padding: 3px !important;
}
a {
	text-decoration: none;
	transition: 0.3s;
}
a:hover {
	color: orange;
	transition: 0.3s;
}
a:active {
  color: cyan;
}
a.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.error-msg {
  background: salmon;
  color: red;
}
.sucess-msg {
  background: #3CB371;
  color: darkgreen;
}

/* MEDIA QUERIES */

@media (min-width:320px) {
  .main-content {
    max-height: 388px;
    max-width: 309px;
  }
}
@media (min-height:533.5px) and (min-width:339.9px) {
  .header, .footer, .main-content {
    zoom : 1.1;
  }
}
@media (min-height:582px) and (min-width:370.8px) {
  .header, .footer, .main-content {
    zoom : 1.2;
  }
}
@media (min-height:630.5px) and (min-width:401.7px) {
  .header, .footer, .main-content {
    zoom : 1.3;
  }
}
@media (min-height:679px) and (min-width:432.6px) {
  .header, .footer, .main-content {
    zoom : 1.4;
  }
}
@media (min-height:727.5px) and (min-width:463.5px) {
  .header, .footer, .main-content {
    zoom : 1.5;
  }
}