body {
    background: #110133;
    color: white !important;
}
.logo {
    height: 44px;
}
h1 {
    padding: 5px;
    border-bottom: 2px solid white;
}
h2 {
    color: #ffdc34;
}
.hr {
    width: 100%;
    height: 3px;
    background: white;
}
.lang {
    margin-top: 50px;
    background: rgba(0, 145, 143, 0.384);
    padding: 10px;
    border-radius: 30px;
}
.lang_title::after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: #ffdc34;
    padding-top: 5px;
}