* {
    font-family: 'Exo 2', sans-serif !important;
    font-weight: bolder;
    color: white !important;
}
body {
    padding-top: 10px;
    min-height: 100vh;
    background: #2c3e50 !important;
}
.dropdown-item {
    color: #000 !important;
}
.logo {
    height: 44px;
}
.sort-visual {
    margin-top: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    text-align: center;
}
.form-control {
    background: transparent !important;
    border: 1px solid white;
    border-radius: 10px !important;
}
option {
    color: black !important;
}
.forms {
    padding: 5px;
}
.row {
    width: 100%;
}
canvas {
    background: #333;
}