@import url("https://fonts.googleapis.com/css?family=Montserrat|Tomorrow&display=swap");
*::selection {
  background: #4dd599;
}
body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.2rem !important;
  background: #110133 !important;
}
.navbar-brand .logo {
  height: 44px;
}
.heading {
  position: relative;
  height: 105vh;
  z-index: 2;
  background-image: linear-gradient(120deg, #4dd599 0%, #00918e 100%);
  border-bottom-right-radius: 45%;
}
.heading_svg {
  position: absolute;
  height: 90%;
  max-width: 90%;
  
}
h2 {
  padding-top: 10px;
  color: hsl(50, 100%, 60%);
}
.about {
  color: whitesmoke !important;
}
.left_ill {
  background: #ffdc34;
  position: absolute;
  width: 70%;
  height: 5%;
  bottom: 0;
  border-bottom-right-radius: 70px;
  border-top-right-radius: 20px;
  box-shadow: -0.4vh 0.1vh 1vh #ffdc34
}
.main {
  height: 100%;
  display: flex;
}
.main_title {
  position: relative;
}
.main_title::after {
  position: absolute;
  display: block;
  bottom: 0;
  z-index: 1;
  content: "";
  width: 100%;
  background: #ffdc34;
  height: 30%;
  border-bottom-left-radius: 70px;
  border-top-left-radius: 20px;
  box-shadow: 0.4vh 0.1vh 1vh rgb(255, 220, 52)
}

.tone-1 {
  flex: 1;
  position: relative;
  animation-name: svg;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transition: .5s all;
}

.tone-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.computer {
  position: relative;
}
.computer_inside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.computer_inside h2 {
  color: snow;
  font-size: 3vw;
  text-shadow: 0.2vh 0.2vh 0.5vh #110133;
}
.computer_inside p {
  font-size: 2vw;
  text-shadow: 0.2vh 0.2vh 0.3vh #110133;
  color: whitesmoke;
}
.navbar-toggler-icon {
  color: whitesmoke !important;
}
.navbar-custom {
  background: rgb(77, 213, 153) !important;
}
h1 {
  font-family: "Tomorrow", sans-serif;
  font-size: 5vw !important;
  text-shadow: 0.3vh 0.3vh 0.6vh whitesmoke;
  color: #110133;
  position: relative;
  z-index: 2;
}
.bubble {
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background: #4dd599;
    border-bottom-left-radius: 50%;
}
.play-pause {
  cursor: pointer;
  position: fixed;
  bottom: 20%;
  left: 0;
  background: rgb(255, 220, 52);
  border-radius: 10px;
  padding: 10px;
  z-index: 9999;
}
.logo-desc {
  color: white !important;
}
.choose {
  background: #110133;
}
.contact {
  padding-top: 50px;
}
.address {
  color: white !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  background: #00918e;
  margin: 10px;
  transition: 0.7s all;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: 1s;
  border: #ffdc34 2px solid;
  cursor: pointer;
}
.button span {
  color: #ffdc34 !important;
}
a:link {
  text-decoration: none !important;
}
.button:hover {
  background: #4dd599;
}
.item {
  color: white;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.add_main {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  background: #4dd599;
  color: #fff;

  width: 250px;
}
.add {
  display: flex;
  padding: 10px;
  justify-content: center;
}
.close {
  position: relative;
  right: 0px;
  top: -10px;
  background: red;
  height: 40px;
  z-index: 99;
  width: 40px;
}
.content {
  z-index: 111;
  padding: 5px;
  display: none;
  height: 300px;
  width: auto;
}


@keyframes svg{
    0%   {transform: translateY(0);}
    25% {transform: translateY(20px);}
    75% {transform: translateY(-50px);}
    100% {transform: translateY(0);}
}
@media screen and (max-width: 600px){
    .heading {
        height: 60vh;
    }
}
@media screen and (max-width: 1200px){
    h1 {
        font-size: 10vw !important;
        text-shadow: 0.3vh 0.3vh 0.6vh whitesmoke;
    }
    .computer {
      margin-top: 5vh !important;
    }
    .tone-2 {
      justify-content: center;
    }
    .computer_inside h2 {
        font-size: 7vw;
        text-shadow: 0.2vh 0.2vh 0.5vh #110133;
    }
    .computer_inside p {
        font-size: 4vw;
        text-shadow: 0.2vh 0.2vh 0.3vh #110133;
    }
}