@text_color: #ffdc34;
@bg_color: #110133;
@font: 'Exo 2', sans-serif;
* {
    box-sizing: border-box;
    font-family: @font !important;
    font-weight: bolder !important;
}
body {
    
    background: @bg_color !important;
    color: @text_color !important;
}
.main {
    text-align: center;
}
.logo {
    height: 44px;
}
.effects {
    .iframe {
        width: 100%;
        iframe{
            width: 100%;
            height:500px; 
        }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
}