* {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif !important;
  font-weight: bolder !important;
}
body {
  background: #110133 !important;
  color: #ffdc34 !important;
}
.main {
  text-align: center;
}
.logo {
  height: 44px;
}
.effects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.effects .iframe {
  width: 100%;
}
.effects .iframe iframe {
  width: 100%;
  height: 500px;
}
