@import url("https://fonts.googleapis.com/css?family=Montserrat|Tomorrow&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif !important;
  color: whitesmoke;
  background: #110133;
}
.heading {
  height: 20vh;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book_img img {
  width: 100%;
}
h1 {
  font-size: 6vh;
  color: white;
  text-shadow: 0.3vw 0.3vw 0.7vw #333;
}
h2 {
  padding-top: 10px;
  font-size: 5vh;
  color: #ffdc34;
}
.container_fluid {
  margin: 0 auto;
  width: 90% !important;
}
iframe {
  width: 100%;
}
.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Leetcode {
  padding-bottom: 10px;
  text-align: center;
}
.logo-pr img {
  height: 100px;
}
